{{define "layout"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Show Track - {{ block "title" . }}{{ end }}</title>
    <link href="/assets/tailwind.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body class="bg-gray-100 text-gray-800 dark:bg-zinc-900 dark:text-gray-200 min-h-screen items-center flex flex-col">
    <div class="w-full max-w-lg bg-white dark:bg-black sm:px-4 sm:py-4 space-y-6">
        {{ template "nav-bar" . }}
    </div>
    <div class="w-full max-w-lg bg-white dark:bg-black px-4 py-4 sm:py-6 space-y-6">
        {{ block "content" . }}{{ end }}
    </div>
</body>

</html>

{{ end }}