{{ define "title" }}Show List{{ end }}

{{ define "content" }}

{{ if ne .Sort "" }}
<div class="flex flex-wrap gap-2 justify-left shadow-sm">
    {{ $currentSort := .Sort }}
    {{ $baseClasses := "px-4 py-2 text-sm rounded-full dark:focus:ring-offset-gray-900 font-semibold" }}
    {{ $activeClasses := "bg-blue-600 text-white shadow-md hover:bg-blue-700 focus:ring-blue-600" }}
    {{ $inactiveClasses := "bg-gray-200 text-gray-800 dark:bg-gray-700 dark:text-gray-100" }}

    <span class="text-gray-600 dark:text-gray-300 font-semibold px-2 text-xl select-none">Sort: </span>

    <a href="/all?sort=name#all" class="{{ $baseClasses }} {{ if eq .Sort "name" }}{{ $activeClasses
        }}{{ else }}{{ $inactiveClasses }}{{ end }}">
        Name
    </a>

    <a href="/all?sort=watch_status#all" class="{{ $baseClasses }} {{ if eq .Sort "watch_status" }}{{ $activeClasses
        }}{{ else }}{{ $inactiveClasses }}{{ end }}">
        Watch Status
    </a>

    <a href="/all?sort=first_release#all" class="{{ $baseClasses }} {{ if eq .Sort "first_release" }}{{ $activeClasses
        }}{{ else }}{{ $inactiveClasses }}{{ end }}">
        Age
    </a>
</div>
{{ end }}


{{ if .List }}
<ul class="space-y-6">
    {{ range .List }}
    <li class="flex gap-4 items-start">
        <!-- Poster Container (relative parent) -->
        <div class="w-24 h-36 relative overflow-hidden shadow-lg">
            <!-- TV Poster Image -->
            <a href="/show/details?id={{ .ID }}">
                <img src="{{ .Poster }}" alt="TV Poster" class="w-full h-full object-cover">
            </a>

            {{ if ne .Unwatched 0 }}
            <!-- Badge Icon (absolute child) -->
            <div class="absolute top-2 right-2 z-10
                    bg-green-600 text-white dark:text-white text-xs font-bold
                    rounded-full
                    w-6 h-6 flex items-center justify-center
                    shadow-md
                    select-none">
                {{ .Unwatched }}
            </div>
            {{ end }}
        </div>

        <div class="flex-1 text-left space-y-2">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-gray-100">
                <a href="/show/details?id={{ .ID }}">
                    {{ .Name }} <span class="text-sm text-gray-500">({{ dateToYear .AirDate }})</span>
                </a>
            </h3>

            <p class="text-gray-700 dark:text-gray-300 mt-1 mb-4">Seasons: {{ .SeasonCount }}</p>

            {{ template "show-status" .Status }}
        </div>
    </li>
    {{ end }}
</ul>
{{ else }}
<p class="text-gray-600">No shows found. Use search to add some shows.</p>
{{ end }}

{{ end }}