{{ define "title" }}{{ .ShowData.Name }} Details{{ end }}

{{ define "content" }}

<!-- Show Info -->
<div class="flex flex-col sm:flex-row gap-6">
    <div class="w-40 h-60 relative overflow-hidden shadow-lg mx-auto sm:mx-0">
        <!-- TV Poster Image -->
        <a href="/show/details?id={{ .ShowData.ID }}">
            <img src="{{ .ShowData.Poster }}" alt="TV Poster" class="w-full h-full object-cover">
        </a>

        {{ if ne .ShowData.Unwatched 0 }}
        <!-- Badge Icon (absolute child) -->
        <div class="absolute top-2 right-2 z-10
                    bg-green-600 text-white dark:text-white text-xs font-bold
                    rounded-full
                    w-6 h-6 flex items-center justify-center
                    shadow-md
                    select-none">
            {{ .ShowData.Unwatched }}
        </div>
        {{ end }}
    </div>

    <div class="flex-1 space-y-2">
        <div class="flex items-center justify-between">
            <h2 class="text-2xl sm:text-3xl font-bold text-gray-900 dark:text-gray-100">
                {{ .ShowData.Name }} ({{ dateToYear .ShowData.AirDate }})
            </h2>

            {{ if .Added }}
            <button onclick="window.location.href='/show/remove?id={{ .ShowData.ID }}'"
                class="ml-4 bg-red-600 text-white px-3 py-1 rounded-full hover:bg-red-700 text-sm font-semibold">
                Remove
            </button>
            {{ else }}
            <button onclick="window.location.href='/show/add?id={{ .ShowData.ID }}'"
                class="ml-4 bg-blue-600 text-white px-3 py-1 rounded-full hover:bg-blue-700 text-sm font-semibold">
                Add
            </button>
            {{ end }}
        </div>

        <p class="text-gray-700 dark:text-gray-300">
            {{ .ShowData.Description }}
            <a href="https://www.themoviedb.org/tv/{{ .ShowData.ID}}" target="_blank" class="inline align-middle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="inline size-6 sm:size-5 mb-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
            </a>
        </p>

        {{ template "show-status" .ShowData.Status }}
    </div>
</div>

<hr class="my-6">

<!-- Seasons -->
<div>
    <h3 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4">Seasons</h3>

    <div class="overflow-x-auto">
        {{ if .ShowData.Seasons }}
        <table class="min-w-full divide-y divide-gray-200 shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-50 dark:bg-gray-950">
                <tr>
                    <th scope="col"
                        class="px-2 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                    </th>
                    <th scope="col"
                        class="px-2 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                        #
                    </th>
                    <th scope="col"
                        class="px-2 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                        Released
                    </th>
                    <th scope="col"
                        class="px-2 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">

                    </th>
                </tr>
            </thead>
            <tbody class="bg-white dark:bg-black divide-y divide-gray-200">
                {{ range .ShowData.Seasons }}
                <tr class="{{ if .Watched }}
                        bg-gray-50 dark:bg-gray-900
                    {{else}}  
                        {{ if not .Released }}
                            bg-orange-50 dark:bg-orange-900
                        {{else}}
                            bg-green-50 dark:bg-green-900
                        {{ end }} 
                    {{ end }} ">
                    <td class=" px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
                        {{ .Number }}
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                        {{ .Episodes }}
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                        {{ .EndDate }}
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                        {{ if .Released }}

                        {{ if .Watched }}
                        <button
                            class="mark-watched-btn inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-full shadow-sm text-white bg-yellow-600 hover:bg-yellow-700"
                            data-season-number="{{ .Number }}" data-show-id="{{ $.ShowData.ID }}"
                            onclick="window.location.href='/show/unwatched?show_id={{ $.ShowData.ID }}&season={{ .Number }}'">
                            Mark Unwatched
                        </button>
                        {{ else }}
                        <button
                            class="mark-watched-btn inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700"
                            data-season-number="{{ .Number }}" data-show-id="{{ $.ShowData.ID }}"
                            onclick="window.location.href='/show/watched?show_id={{ $.ShowData.ID }}&season={{ .Number }}'">
                            Watched
                        </button>
                        {{ end }}

                        {{ else }}

                        Not yet released.

                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ else }}
        <p class="text-gray-500 italic p-4">No seasons available.</p>
        {{ end }}
    </div>
</div>

{{ end }}